<nav class="navbar">
    <span class="logo">Angular TaskManager
	</span>
    <!-- <div> <a class="nav-link" routerLink="dashboard">
           Dashboard
        </a></div> -->
    <div>
        <a class="nav-link" routerLink="about">About </a>
    </div>
    <div>
        <a class="nav-link" routerLink="contact-details-component">Contact details </a>
    </div>
    <div>
        <a class="nav-link" routerLink="personal-details-component">Personal details </a>
    </div>
    <div>
        <a class="nav-link" routerLink="skills-component">Skills component</a>
    </div>
    <div>
        <a class="nav-link" routerLink="wizard-finished-component">Wizard finished</a>
    </div>
    <div>
        <a class="nav-link" routerLink="product-list">Products</a>
    </div>
    <div>
        <a class="nav-link" routerLink="work-experience-component">Work experience</a>
    </div>
    <form>
        <label>Search:<input type="search"></label>
    </form>
</nav>
<div class="container-fluid">

    <h1> Angular Wizard </h1>
    <router-outlet></router-outlet>
</div>